.container {
  max-width: 60rem;
  min-height: 80rem;
  margin: 8rem auto;
  border: 2px solid var(--color-grey-dark-3);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--color-grey-light-1);
}
h1 {
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 8rem auto;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.5rem;
    // margin: 0.8rem 0.8rem;
    padding: 0.5rem;
  }

  input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: 60%;
  }

  select {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    width: 40%;
  }

  .btn {
    align-self: center;
    background-color: var(--color-grey-light-1);
    padding: 0.5rem;
    margin: 2rem 0.5rem;
    transition: 0.3s;

    &:hover {
      background-color: white;
    }
  }

  .textarea {
    width: 60%;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
}
